body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #C8FFE5, #A7F2D1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
}

#MainImg img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 25px;
}

.Img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#p1 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

#p2 {
    font-size: 14px;
    margin-top: -5px;
    color: #333;
}



/* ---------------------------------------------------------- */

.Link1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-button {
    background-color: #A7F2D1;   
    color: black;
    padding: 18px 25px;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 50px;
    width: 85%;
    text-decoration: none;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 6px 8px 0px #000;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.5s ease;
}

.menu-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 0px #000;
}

.copyright {
    margin-top: 40px;
    text-align: center;
    font-size: small;
    color: #444;
}
.copyright a {
    text-decoration: none;
    color: #222;
}

#text1 {
    margin-top: -10px;
}

@media (max-width: 768px) {
    .menu-button {
        width: 80%; 
    }
}